.ruscourses-item {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  background-color: #fff;
  border-radius: rem(12);
  box-shadow: 0px rem(8) rem(20) 0px rgba(26, 26, 26, 0.10);
  padding: rem(16);

  &__image {
    img {
      max-width: 100%;
      max-height: rem(72)
    }
  }

  &__name {
    @include adaptiveValue("font-size", 20, 17, 1920, 480, 1);
    font-weight: 600;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        color: #2CA5F5;
      }
    }
  }

  &__info {
    &:not(:last-child) {margin-bottom: rem(12);}
    li {
      display: flex;
      align-items: center;
      gap: rem(4);
      &:not(:last-child) {margin-bottom: rem(8);}
      svg, img {
        max-width: rem(15);
        max-height: rem(20);
      }
    }
  }

  &__footer {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: rem(12);
    @media (max-width:$pc) and (min-width:$mobileSmall) {
      flex-direction: column;
      align-items: flex-start;
    }
    @media (max-width:em(370)) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__price {
    @include adaptiveValue("font-size", 28, 24, 1920, 480, 1);
    font-weight: 600;
  }

  &__small {
    font-size: rem(16);
    line-height: 1.2;
    display: block;
  }

  &__button {
    font-weight: 600;
    font-size: rem(15);
    min-width: rem(119);
    padding: rem(10);
    @media (max-width:$pc) and (min-width:$mobileSmall) {
      width: 100%;
    }
    @media (max-width:em(370)) {
      width: 100%;
    }
  }
}
.coursePopup {

  &__wrapper {
  }

  &__content {
    padding: rem(25);
  }

  &__close {
    width: rem(32);
    height: rem(32);
    border-radius: 50%;
    background-color: #F5F5F5;
    position: absolute;
    top: rem(12);
    right: rem(12);
    &::before,&::after{
      content:'';
      position: absolute;
      top: 50%;
      left: 50%;
      width: rem(12);
      height: rem(2);
      background-color: #8E8E93;
      transition: all 0.3s ease 0s;
    }
    &::before{
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after{
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    @media (any-hover: hover){
      &:hover{
        &::before,&::after{
          background-color: #000;
        }
      }
    }
    @media (max-width:$mobile){
      position: relative;
      top: 0;
      left: 0;
      margin-left: auto;
      &:not(:last-child) {margin-bottom: rem(7);}
    }
  }

  &__form {
  }

  &__name {
    display: inline-block;
    padding-right: rem(20);
    @include adaptiveValue("font-size", 24, 20, 1920, 480, 1);
    font-weight: 600;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 24, 16, 1920, 480, 1);
    }
  }

  &__agree {
    position: relative;
    display: flex;
    flex-direction: column;
    .form__error {
      order: -1;
      font-size: rem(13);
      color: #F00;
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 24, 12, 1920, 480, 1);
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: rem(5);
    @media (min-width:$mobile){
      align-items: flex-end;
    }
  }

  &__price {
    font-weight: 600;
    font-size: rem(24);
    &_small {
      font-size: rem(16);
    }
  }

  &__button {
    padding: rem(17);
    font-size: rem(15);
    @media (min-width:$mobile){
      min-width: rem(339);
    }
    @media (max-width:$mobile){
      width: 100%;
    }
  }
}

.course {
  padding-bottom: rem(40);

  &__container {
  }

  &__main {
  }

  &__sidebar {
  }
}
.main-course {

  &__image {
    &:not(:last-child) {margin-bottom: rem(20);}
    img {
      @include adaptiveValue("max-height", 121, 72, 1920, 480, 1);
    }
  }

  &__list {
    li {
      display: flex;
      align-items: center;
      gap: rem(4);
      @include adaptiveValue("font-size", 18, 15, 1920, 480, 1);
      &:not(:last-child) {margin-bottom: rem(10);}
    }
  }

  &__content {
    @include adaptiveValue("padding-top", 40, 20, 1920, 480, 1);
  }
}
.sidebar-event {

  &_consult {
  }

  &__row {
  }

  &__price {
  }

  &__button {
  }
}
