.calendarPopup {
  @media (min-width:$pc){
    .calendar__arrows {
      left: rem(-55);
      width: calc(100% + rem(110));
    }
  }
  @media (max-width:$mobile){
    padding: 0;
  }

  &__wrapper {
    @media (max-width:$mobile){
      background-color: #fff;
      justify-content: flex-start;
    }
  }

  &__content {
    background-color: #fff;
    border-radius: rem(12);
    position: relative;
    padding: 0;
    transform: scale(0);
    @media (min-width:$mobile){
      box-shadow: 0px rem(8) rem(20) rgba(26, 26, 26, 0.1);
      max-width: rem(1200);
    }
    @media (max-width:$mobile){
      border-radius: 0;
      // min-height: calc(100vh - rem(100));
      flex: 1 1 100%;
      .popup_show & {
        margin-top: 0;
        transform: scale(1) !important;
      }
    }
  }

  &__head {
    &:not(:last-child) {margin-bottom: rem(24);}
    padding: var(--clndrplr) var(--clndrpt) 0;
    display: grid;
    grid-template-columns: auto var(--cldrcls);
    @media (max-width:$mobile){
      row-gap: rem(16);
    }
  }

  &__back {
    display: flex;
    align-items: center;
    gap: rem(8);
    color: #8A8A8A;
    font-size: rem(16);
    line-height: math.div(22 , 16);
  }

  &__title {
    font-weight: 600;
    font-size: rem(20);
    @media (max-width:$mobile){
      font-size: rem(24);
      grid-row-start: 2;
    }
  }

  &__close {
    grid-column-start: 2;
    display: inline-block;
    width: var(--cldrcls);
    height: var(--cldrcls);
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
    bottom: 0;
    &::before,&::after{
      content:'';
      position: absolute;
      top: 50%;
      left: 50%;
      width: rem(12);
      height: rem(2);
      background-color: #8E8E93;
      transition: all 0.3s ease 0s;
    }
    &::before{
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after{
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    @media (any-hover: hover){
      &:hover{
        &::before,&::after{
          background-color: #000;
        }
      }
    }
  }

  &__text {
    min-width: 0;
    @media (min-width:$mobile){
      border-top: .5px solid #E8E8E9;
    }
    .calendar__body {
      box-shadow: none;
    }
  }

  &__footer {
    margin-top: auto;
    padding: rem(16);
  }

  &__ready {
    width: 100%;
    padding: rem(17);
    border-radius: rem(4);
    font-size: rem(15);
  }
}
:root {
  @include adaptiveValue("--clndrplr", 24, 16, 1920, 767, 1);
  @include adaptiveValue("--clndrpt", 28, 16, 1920, 767, 1);
  @include adaptiveValue("--cldrcls", 32, 30, 1920, 480, 1);
}

//=================================================================================================
.spollers-filters {
  display: flex;
  align-items: center;
  gap: rem(16);
  padding-bottom: rem(16);
  @media (min-width:$pc){
    flex-wrap: wrap;
  }
  @media (max-width:$pc) and (min-width:$mobile) {
    flex-wrap: wrap;
  }
  @media (max-width:$mobile){
    overflow: auto;
    padding-bottom: rem(20);
    ._filter-spoller-open & {
      overflow: hidden;
    }
  }

  &__item {
    position: relative;
    z-index: 20;
  }

  &__title {
    white-space: nowrap;
    position: relative;
    z-index: 1;
    border-radius: rem(99999);
    transition: all 0.3s ease 0s;
    border: 1px solid #E8E8E9;
    padding: rem(10) rem(44) rem(10) rem(16);
    @media (max-width:$mobile){
      padding: rem(6) rem(44) rem(6) rem(16);
      line-height: 1.2;
    }
    line-height: math.div(22 , 16);
    @include adaptiveValue("font-size", 16, 15, 1920, 480, 1);
    &::before,&::after{
      content:'';
      position: absolute;
      background-color: #111;
      height: 1.3px;
      width: rem(10);
      top: 50%;
      transition: all 0.3s ease 0s;
    }
    &::before{
      right: rem(17);
      transform: translateY(-50%) rotate(-45deg);
    }
    &::after{
      right: rem(23.5);
      transform: translateY(-50%) rotate(45deg);
    }
    &._spoller-active {
      color: #2CA5F5;
      &::before,&::after{
        background-color: #2CA5F5;
      }
      &::before{
        transform: translateY(-50%) rotate(45deg);
      }
      &::after{
        transform: translateY(-50%) rotate(-45deg);
      }
    }
    ._checked &{
      border-color: #2CA5F5;
      @media (max-width:$mobile){
        border-color: transparent;
      }
    }
    @media (max-width:$mobile){
      ._filter-spoller-open & {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &__body {
    background-color: #fff;
    padding: rem(16);
    @media (min-width:$mobile){
      min-width: rem(177);
      position: absolute;
      top: calc(100% + rem(10));
      border-radius: rem(12);
      box-shadow: 0px rem(8) rem(20) rgba(26, 26, 26, 0.1);
      &_nopadding {
        padding: 0;
      }
      &_date {
        padding: rem(16);
      }
    }
    @media (max-width:$mobile){
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      // height: calc(100vh - rem(53));
      height: 100%;
      z-index: 2000;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
  }

  &__mobile {
    display: flex;
    align-items: center;
    gap: rem(15);
    justify-content: space-between;
    &:not(:last-child) {margin-bottom: rem(16);}
  }

  &__back {
    display: flex;
    align-items: center;
    gap: rem(8);
    color: #8A8A8A;
    font-size: rem(16);
    cursor: pointer;
  }

  &__close {
    width: rem(30);
    height: rem(30);
    border-radius: 50%;
    background-color: #F5F5F5;
    position: relative;
    margin-left: auto;
    &::before,&::after{
      content:'';
      position: absolute;
      top: 50%;
      left: 50%;
      width: rem(12);
      height: rem(2);
      background-color: #8E8E93;
      transition: all 0.3s ease 0s;
    }
    &::before{
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after{
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__form {
    @media (max-width:$mobile){
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
    }
  }

  &__name {
    font-weight: 600;
    font-size: rem(24);
    &:not(:last-child) {margin-bottom: rem(24);}
  }
  
  &__rows {
  }

  &__row {
    position: relative;
    display: block;
    @media (min-width:$mobile){
      padding: rem(8) 0;
    }
    @media (max-width:$mobile){
      padding-bottom: rem(16);
      border-bottom: 0.5px solid #E0E0E3;
      &:not(:last-child) {margin-bottom: rem(16);}
    }
  }

  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    &+.spollers-filters__label {
      position: relative;
      color: #000;
      display: flex;
      align-items: flex-start;
      line-height: math.div(20 , 15);
      cursor: pointer;
      &::before{
        content:'';
        display: inline-block;
        flex: 0 0 rem(20);
        width: rem(20);
        height: rem(20);
        border: 1px solid #c7c7cc;
        transition: all 0.3s ease 0s;
        border-radius: rem(4);
        margin-right: rem(8);
      }
      &::after{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: rem(20);
        height: rem(20);
        background-image: url(../img/icons/check.svg);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
      }
      a {
        color: #2ca5f5;
        @media (any-hover: hover){
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    &:checked+.spollers-filters__label::before {
      border-color: #2ca5f5;
      box-shadow: 0px 0px 0px rem(10) #2ca5f5 inset;
    }
    &._form-error+label::before{
      border-color: red;
    }
  }

  &__label {
    white-space: nowrap;
    display: block;
  }

  &__submit {
    width: 100%;
    padding: rem(11);
    font-weight: 400;
    @media (min-width:$mobile){
      margin-top: rem(16);
    }
    @media (max-width:$mobile){
      font-size: rem(15);
      margin-top: auto;
      padding: rem(16);
    }
  }
}
.checked-filters {

  &__container {
    display: flex;
    align-items: center;
    gap: rem(16);
    @media (max-width:$pc){
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: rem(16);
    @media (min-width:$pc){
      flex-wrap: wrap;
    }
  }

  &__item {
    border-radius: rem(99999);
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    gap: rem(4);
    @media (min-width:$mobile){
      padding: rem(10) rem(12) rem(10) rem(16);
    }
    @media (max-width:$mobile){
      position: absolute;
      top: 0;
      left: -2px;
      z-index: 2;
      background-color: #E8E8E9;
      padding: rem(6) rem(24);
      line-height: 1.2;
      ._filter-spoller-open & {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &__name {
    font-weight: 600;
    color: #8E8E93;
    white-space: nowrap;
  }

  &__body {
    display: flex;
    align-items: center;
    gap: rem(4);
  }

  &__value {
    font-weight: 600;
    white-space: nowrap;
    &:not(:last-child) {
      &::after{
        content:',';
      }
    }
  }

  &__del {
    position: relative;
    transition: all 0.3s ease 0s;
    width: rem(20);
    height: rem(20);
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    &::before,&::after{
      content:'';
      position: absolute;
      top: 50%;
      left: 50%;
      width: rem(12);
      height: rem(2);
      background-color: #111;
    }
    &::before{
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after{
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    @media (any-hover: hover){
      &:hover{
        background-color: #E8E8E9;
      }
    }
  }

  &__button {
    margin-left: auto;
    color: #2CA5F5;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    @media (any-hover: hover){
      &:hover{
        color: #115DA3;
      }
    }
    @media (max-width:$mobile){
      display: none !important;
    }
  }
}
//=================================================================================================
.eventsfull {
  @include adaptiveValue("padding-top", 34, 4, 1920, 480, 1);;
  @include adaptiveValue("padding-bottom", 40, 24, 1920, 480, 1);;
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] min(rem(1200),100% - rem(16) * 2) [content-end] 1fr [full-end];
  @include adaptiveValue("row-gap", 40, 24, 1920, 480, 1);
  &_course {
    padding-top: 0;
  }

  &__container {
    grid-column: content;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(20);
    @media (max-width:$mobile){
      grid-template-columns: repeat(2, 1fr);
      row-gap: rem(24);
      justify-content: center;
    }
    @media (max-width:$mobileSmall){
      grid-template-columns: auto;
    }
    .consultsfull & {
      @include adaptiveValue("gap", 20, 16, 1920, 480, 1);
    }
  }

  &__body {
  }

  &__pagination {
    @include adaptiveValue("margin-top", 0, 13, 1920, 480, 1);
    position: relative;
    display: block;
    .loader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      @media (min-width:$mobile){
        display: none;
      }
    }
  }
}
.banner-eventsfull {
  grid-column: full;
  background-color: #2CA5F5;
  color: #fff;
  box-shadow: 0px 8px 20px 0px rgba(26, 26, 26, 0.10);
  &_mb {
    @include adaptiveValue("margin-bottom", 40, 24, 1240, 480, 1);
  }
  ._filter-spoller-open & {
    * {
      transition: opacity 0.3s ease 0s;
      opacity: 0;
      pointer-events: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-width: rem(1106.65);
    padding: 0 rem(15);
    position: relative;
    @include adaptiveValue("min-height", 284, 250, 1920, 480, 1);
    .banner-eventsfull_margin & {
      @media (min-width:$mobile){
        min-height: 0;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    z-index: 2;
    @include adaptiveValue("padding-top", 40, 16, 1920, 480, 1);
    @include adaptiveValue("padding-bottom", 40, 16, 1920, 480, 1);
  }

  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 28, 18, 1920, 480, 1);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 16, 1920, 480, 1);
    }
  }

  &__text {
    @include adaptiveValue("font-size", 16, 12, 1920, 480, 1);
    font-weight: 300;
    line-height: math.div(22 , 16);
    &:not(:last-child) {margin-bottom: rem(15);}
  }

  &__button {
    margin-top: auto;
    align-self: flex-start;
    --btnclr: #fff;
    --bdc: #fff;
    --btnbg: #2CA5F5;
    min-width: rem(123);
    border-radius: rem(4);
    line-height: 1.362;
    padding: rem(10);
    @media (max-width:$mobile){
      border-radius: rem(8);
    }
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    @media (max-width:$mobile){
      height: calc(100% - rem(60));
    }
    img {
      height: 100%;
    }
  }
}
//=================================================================================================
.event {
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 40, 32, 1920, 480, 1);
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: rem(20);
  }

  &__main {
    flex: 1 1 auto;
    @media (min-width:$tablet){
      max-width: calc(100% - rem(407));
    }
  }

  &__sidebar {
  }
}
.main-event {

  &__head {
    display: flex;
    align-items: center;
    gap: rem(20);
    flex-wrap: wrap;
    line-height: 1.35;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 24, 1920, 480, 1);
    }
  }

  &__type {
    color: #fff;
    font-size: rem(13);
    padding: rem(2) rem(11);
    background-color: var(--bgc);
    border: rem(1) solid var(--bgc);
    transition: all 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        color: var(--bgc);
        background-color: #fff;
      }
    }
  }

  &__level {
    display: flex;
    align-items: center;
    font-size: rem(16);
    gap: rem(4);
    color: #8A8A8A;
    transition: all 0.3s ease 0s;
    svg {
      width: rem(20);
      height: rem(22);
      path {
        transition: all 0.3s ease 0s;
      }
    }
    @media (any-hover: hover){
      &:hover{
        path {
          stroke: #2CA5F5;
        }
        color: #2CA5F5;
      }
    }
  }

  &__partner {
    display: flex;
    align-items: center;
    gap: rem(6);
    transition: all 0.3s ease 0s;
    img {
      max-height: rem(24);
    }
    span {
      color:#000;
      font-weight: 700;
      font-size: rem(8);
      line-height: math.div(12 , 8);
    }
    @media (any-hover: hover){
      &:hover{
        opacity: 0.6;
      }
    }
    &_nohover {
      @media (any-hover: hover){
        &:hover{
          opacity: 1;
        }
      }
    }
  }

  &__info {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 24, 1920, 480, 1);
    }
    li {
      @include adaptiveValue("font-size", 18, 15, 1920, 480, 1);
      line-height: math.div(21.6 , 18);
      display: flex;
      align-items: center;
      gap: rem(4);
      svg {
        flex: 0 0 rem(18);
      }
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 10, 8, 1920, 480, 1);
      }
    }
  }

  &__speaker {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 32, 1920, 480, 1);
    }
  }

  &__program {
    @include adaptiveValue("padding-bottom", 12, 0, 1920, 480, 1);
  }
}
:root {
  @include adaptiveValue("--spkrsz", 82, 74, 1920, 480, 1);
}
.speaker-event {
  display: grid;
  grid-template-columns: var(--spkrsz) auto;
  @include adaptiveValue("column-gap", 16, 12, 1920, 480, 1);
  @include adaptiveValue("row-gap", 9, 4, 1920, 480, 1);

  &__avatar {
    grid-row: span 3;
    width: var(--spkrsz);
    height: var(--spkrsz);
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__name {
    font-weight: 600;
    @include adaptiveValue("font-size", 20, 15, 1920, 480, 1);
  }

  &__info {
    @include adaptiveValue("font-size", 15, 13, 1920, 480, 1);
  }

  &__city {
    display: flex;
    align-items: center;
    gap: rem(4);
    @include adaptiveValue("font-size", 15, 13, 1920, 480, 1);
  }

  &__more {
    display: flex;
    align-items: flex-end;
    gap: rem(4);
    @include adaptiveValue("font-size", 15, 13, 1920, 480, 1);
    color: #2CA5F5;
    @media (any-hover: hover){
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
.sidebar-event {
  background-color: #fff;
  ._sticky & {
    z-index: 20;
  }
  @media (min-width:$tablet){
    box-shadow: 0px 8px 20px rgba(26, 26, 26, 0.1);
    padding: rem(24);
    border-radius: rem(12);
    position: sticky;
    top: var(--headerHeight, rem(138));
  }
  @media (max-width:$tablet){
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: rem(16) rem(16) rem(12);
    box-shadow: 0px -12px 24px rgba(26, 26, 26, 0.12);
    border-radius: rem(12) rem(12) 0 0;
    width: 100%;
    z-index: 151;
    // &_consult {
    //   box-shadow: none;
    // }
    .popup-show &,
    .menu-open & {
      transition: opacity 0.01s ease 0.3s;
      pointer-events: none;
      opacity: 0;
      z-index: 20;
    }
    ._popup-drag-down & {
      transition-delay: 0s;
      pointer-events: all;
      opacity: 1;
    }
  }
  @media (max-width:$mobile){
    bottom: rem(66);
  }

  &__row {
    display: flex;
    align-items: center;
    line-height: math.div(24 , 18);
    gap: rem(8);
    @media (max-width:$mobile){
      gap: rem(12);
    }
    .rub {
      font-weight: 400;
    }
    &:nth-of-type(2) {
      justify-content: space-between;
      color: #8E8E93;
      align-items: flex-end;
    }
  }

  &__price {
    @include adaptiveValue("font-size", 28, 24, 1920, 480, 1);
    font-weight: 600;
    &_small {
      @include adaptiveValue("font-size", 18, 16, 1920, 480, 1  );
    }
  }

  &__stars {
    display: flex;
    justify-content:center;align-items: center;
    gap: rem(4);
    color: #fff;
    background-color: #FFCB79;
    @include adaptiveValue("font-size", 15, 13, 1920, 480, 1);
    cursor: pointer;
    line-height: math.div(20.43 , 15);
    @media (min-width:$mobile){
      padding: rem(6) rem(16);
    }
    @media (max-width:$mobile){
      padding: rem(5) rem(14);
    }
  }

  &__oldprice {
    @include adaptiveValue("font-size", 18, 16, 1920, 480, 1);
    text-decoration: line-through;
  }

  &__places {
    @include adaptiveValue("font-size", 15, 13, 1920, 480, 1);
  }

  &__button {
    font-size: rem(15);
    font-weight: 700;
    padding: rem(17);
    border-radius: rem(4);
    @media (min-width:$tablet){
      min-width: rem(339);
      margin-top: rem(4);
    }
    @media (max-width:$tablet){
      width: 100%;
      margin-top: rem(7);
    }
  }
}
//=================================================================================================
.event-banner {
  background-color: #2CA5F5;
  color: #fff;
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 40, 32, 1920, 480, 1);
  }

  &__container {
    @include adaptiveValue("padding-top", 40, 16, 1920, 480, 1);
    @include adaptiveValue("padding-bottom", 40, 16, 1920, 480, 1);
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    z-index: 2;
  }

  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 24, 16, 1920, 480, 1);
    &:not(:last-child) {
      margin-bottom: rem(8);
      @media (max-width:$mobile){
        margin-bottom: rem(12);
      }
    }
  }

  &__text {
    @include adaptiveValue("font-size", 15, 12, 1920, 480, 1);
    &:not(:last-child) {
      margin-bottom: rem(24);
      @media (max-width:$mobile){
        margin-bottom: rem(39);
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    align-self: flex-start;
    @media (max-width:$mobile){
      gap: rem(12);
      flex-direction: column;
    }
  }

  &__prices {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: rem(133);
    column-gap: rem(4);
  }

  &__price {
    font-weight: 600;
    font-size: rem(18);
    .rub {
      font-weight: normal;
    }
  }

  &__stars {
    display: flex;
    gap: rem(2);
    align-items: flex-start;
    font-size: rem(7.5);
    padding: rem(3) rem(8);
    background-color: #FFCB79;
  }

  &__oldprice {
    line-height: 0.5;
    font-size: rem(13);
    color: #E8E8E9;
    text-decoration: line-through;
  }

  &__button {
    --btnclr: #fff;
    --bdc: #fff;
    --btnbg: #2CA5F5;
    min-width: rem(123);
    border-radius: rem(4);
    line-height: 1.362;
    padding: rem(10);
    @include adaptiveValue("font-size", 15, 12, 1240, 480, 1);
    @media (max-width:$mobile){
      border-radius: rem(8);
    }
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    @media (max-width:$mobile){
      height: calc(100% - rem(60));
      max-height: rem(145);
    }
    img {
      height: 100%;
    }
  }
}
//=================================================================================================
.fixed-event {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 8px 20px rgba(26, 26, 26, 0.1);
  transition: all 0.6s ease 0s;
  transform: translateY(-150%);
  z-index: 200;
  .popup-show & {
    z-index: 1;
  }
  &._active {
    transform: none;
  }
  @media (any-hover: hover){
    .lock & {
      padding-right: rem(27);
    }
  }
  @media (max-width:$tablet){
    display: none;
  }

  &__container {
    padding-top: rem(13);
    padding-bottom: rem(13);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(7);
  }

  &__title {
    flex: 0 1 rem(400);
    font-weight: 600;
    font-size: rem(13);
    line-height: math.div(18 , 13);
  }

  &__category {
    padding: rem(3) rem(15);
    color: #fff;
    background-color: var(--bgc);
    border: rem(1) solid var(--bgc);
    transition: all 0.3s ease 0s;
    font-size: rem(13);
    @media (any-hover: hover){
      &:hover{
        color: var(--bgc);
        background-color: #fff;
      }
    }
  }

  &__speaker {
    display: flex;
    align-items: center;
    gap: rem(12);
    transition: all 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        color: #2CA5F5;
      }
    }
  }

  &__avatar {
    width: rem(26);
    height: rem(26);
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    font-size: rem(13);
  }

  &__right {
    display: flex;
    align-items: center;
    gap: rem(8);
  }

  &__prices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: rem(100);
    column-gap: rem(6);
  }

  &__price {
    font-weight: 600;
    font-size: rem(15);
  }

  &__stars {
    cursor: pointer;
    padding: rem(1.5) rem(5);
    display: flex;
    align-items: center;
    background-color: #FFCB79;
    color: #fff;
    gap: rem(1.5);
    font-size: rem(12);
  }

  &__oldprice {
    color: #8E8E93;
    font-size: rem(11);
    text-decoration: line-through;
  }

  &__button {
    position: relative;
    min-width: rem(183);
    font-size: rem(13);
    padding: rem(8);
    border-radius: rem(3.2);
    ._top {
      position: absolute;
      bottom: calc(100% + rem(2));
      font-size: rem(11);
      color: #8A8A8A;
      right: 0;
      white-space: nowrap;
      font-weight: normal;
    }
    ._bottom {
      position: absolute;
      top: calc(100% + rem(2));
      font-size: rem(11);
      color: #8A8A8A;
      right: 0;
      white-space: nowrap;
      font-weight: normal;
    }
    ._top-left {
      position: absolute;
      bottom: calc(100% + rem(2));
      font-size: rem(11);
      left: 0;
      color:#000;
    }
  }
}
.back {
  padding-bottom: rem(10);
}
//=================================================================================================
.speakersfull {
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 40, 32, 1230, 480, 1);
  }

  &__container {
    @include adaptiveValue("padding-top", 40, 24, 1230, 480, 1);
    @include adaptiveValue("padding-bottom", 40, 24, 1230, 480, 1);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include adaptiveValue("gap", 20, 16, 1230, 480, 1);
    @media (max-width:$tablet){
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width:$mobile){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:$mobileSmall){
      grid-template-columns: 1fr;
    }
  }
}