//====================================================================================================
.footer {
  background-color: #f9f9f9;
  @media (min-width:$mobile){
    padding-top: rem(8);
    padding-bottom: rem(8);
  }

  &__container {
    color: #8E8E93;
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 60, 8, 1920, 767, 1);
    line-height: math.div(20.43 , 15);
    @media (max-width:$pc){
      flex-wrap: wrap;
      justify-content: center;
    }
    @media (max-width:$mobile){
      flex-direction: column;
      align-items: flex-start;
      padding-top: rem(20);
      padding-bottom: rem(20);
      background-color: #F5F5F5;
    }
  }

  &__copyright {
    font-size: rem(15);
    color: #8E8E93;
    white-space: nowrap;
    @media (max-width:$mobile){
      order: 1;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 20, 8, 1920, 767, 1);
    color: #8E8E93;
    @media (max-width:$mobile){
      flex-direction: column;
      align-items: flex-start;
    }
    a {
      transition: all 0.3s ease 0s;
      white-space: nowrap;
      @media (any-hover: hover){
        &:hover{
          color: #2CA5F5;
        }
      }
    }
  }

  &__logos {
    display: flex;
    @include adaptiveValue("gap", 32, 16, 1920, 480, 1);
    @media (min-width:$pc){
      margin-left: auto;
    }
  }

  &__logo {
    img {
      max-width: rem(64);
      max-height: rem(64);
      object-fit: contain;
      object-position: center;
    }
  }
}

//====================================================================================================


.mobile-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: rem(11) rem(16);
  display: flex;
  gap: rem(17);
  z-index: 200;
  background-color: #fff;
  box-shadow: 0 -0.5px 4px rgba(26,26,26,.08);
  @media (min-width:$mobile){
    display: none;
  }
  .menu-open &,
  .calendar-open & {
    z-index: 1;
  }
  ._filter-spoller-open & {
    display: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto; 
    gap: rem(2);
    span,
    path,
    rect {
      transition: all 0.3s ease 0s;
    }
    span {
      line-height: math.div(15 , 11);
      @include adaptiveValue("font-size", 15, 11, 1200, 480, 1);
      color: #8A8A8A;
    }
    &._active  {
      path,
      rect {
        stroke: #2CA5F5
      }
      span {
        color: #2CA5F5;
      }
    }
  }

  &__icon {
    svg {
      max-width: rem(24);
      max-height: rem(24);
    }
  }
}
