.search {

  &__container {
    @include adaptiveValue("padding-bottom", 40, 24, 1240, 480, 1);
  }

  &__label {
    font-size: rem(13);
    &:not(:last-child) {margin-bottom: rem(16);}
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 24, 1240, 480, 1);
    }
  }

  &__item {
    @media (any-hover: hover){
      &:hover{
        .search__title {
          color: #115DA3;
        }
      }
    }
  }

  &__title {
    font-weight: 600;
    color: #2CA5F5;
    @include adaptiveValue("font-size", 16, 15, 1240, 480, 1);
    transition: all 0.3s ease 0s;

    display: flex;
    align-items: flex-start;
    gap: rem(4);
    padding-left: rem(4);

    &:not(:last-child) {margin-bottom: rem(12);}
  }

  &__text {
  }

  &__pagination {
  }

  &__notfound {
    @include adaptiveValue("padding-top", 64, 40, 1240, 480, 1);
  }
}
