.speaker {
  padding-top: rem(24);
  @include adaptiveValue("padding-bottom", 40, 24, 1230, 480, 1);

  &__container {
  }

  &__hero {
  }

  &__info {
    @include adaptiveValue("padding-top", 40, 24, 1230, 480, 1);
  }
}
.hero-speaker {
  background-color: #2CA5F5;
  box-shadow: 0px rem(8) rem(20) 0px rgba(26, 26, 26, 0.10);
  &__container{
    position: relative;
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("min-height", 400, 281, 1230, 480, 1);
  }

  &__content {
    padding-top: rem(32);
    padding-bottom: rem(16);
    max-width: rem(489);
    color: #fff;
    @media (min-width:$mobile){
      align-self: center;
    }
  }

  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 34, 24, 1230, 480, 1);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 12, 1230, 480, 1);
    }
    @media (max-width:$mobile){
      font-weight: 600;
    }
  }

  &__label {
    @include adaptiveValue("font-size", 20, 15, 1230, 480, 1);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 16, 12, 1230, 480, 1);
    }
  }

  &__regalies {
    @include adaptiveValue("font-size", 20, 15, 1230, 480, 1);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 28, 1230, 480, 1);
    }
  }

  &__buttons {
    display: flex;
    @include adaptiveValue("gap", 24, 12, 1230, 480, 1);
    @media (max-width:$mobile){
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__button {
    @include adaptiveValue("padding-top", 18, 12, 1230, 480, 1);
    @include adaptiveValue("padding-bottom", 18, 12, 1230, 480, 1);
    @include adaptiveValue("padding-left", 24, 17, 1230, 480, 1);
    @include adaptiveValue("padding-right", 24, 17, 1230, 480, 1);
    @include adaptiveValue("font-size", 15, 10, 1230, 480, 1);
    --bdc: #fff;
    --btnclr: #fff;
    --btnbg: #2CA5F5;
    &:last-of-type {
      --btnbg: rgba(255, 255, 255, 0.30);
      @media (any-hover: hover){
        &:hover{
          color: #2CA5F5;
        }
      }
    }
    @media (max-width:$mobile){
      min-width: rem(158);
    }
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    aspect-ratio: 1;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    @media (min-width:$mobile){
      height: 100%;
    }
    @media (max-width:$mobile){
      height: percent(168,281);
    }
    img {
      max-height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}